/* style.module.css */

.horizontalbarChartContainer {
  width: 400px;
  height: 300px;
  /* padding: 20px; */
  /* background-color: #cbf012; */
  border-radius: 8px;
  margin: 0 auto;
}

.horizontalbarChart {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Optional: Add responsive breakpoints */
@media (max-width: 768px) {
  .barChartContainer {
    padding: 15px;
    height: 350px;
  }
}

@media (max-width: 480px) {
  .barChartContainer {
    padding: 10px;
    height: 300px;
  }
}
