.customer-users-list {
  background-color: var(--color-light);
  padding: 10px;
  min-height: 50vh;
  border-radius: 20px;

  &__header {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--color-background);
    border-radius: 10px;
  }

  &__table-section {
    margin-top: 10px;
  }

  &__user-name {
    color: var(--color-primary);
    font-weight: 600;
    cursor: pointer;

    .label {
      background-color: #e6f0d7;
      padding: 0 5px;
      color: var(--color-dark);
      font-size: 0.8rem;
    }
  }
}