.status-chip {
  display: inline-flex;
  align-items: center;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 500;
  width: fit-content;
  gap: 8px;
  padding: 6px 20px;
  cursor: pointer;

  &__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
  }

  &__label {
    line-height: 1;
  }
}
