.request-service{
    display: flex;
    width:100%;
    height:auto;
    

    &__map-container{
        width:30%;
    }

    &__body{
        width:70%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-left: 2px solid var(--color-grey);
        padding: 0px 25px;
    }

}