.radio-group {
  margin: 5px 0px;
  font-family: var(--font-primary);

 
  

  &__container {
    display: flex;
    gap: 0.8rem;
    color: var(--color-label);

  }

   .required {
    color: red;
    margin-left: 2px;
  }

  &__option {
    width: 100%;
    border-radius: 50%;
    padding: 2px 7px;
    display: flex;
    align-items: center;
    gap: 0.1rem;
    cursor: pointer;
  }

  .radio-icon {
    color: var(--color-dark-gray);

    &.active {
      color: #0297d8;
    }
  }
}
