.text-input {
  &__container {
    width: 100%;
    border: var(--input-border);
    border-radius: var(--input-border-radius);
    padding: 0 0.75em;
    background-color: #fff;
  }

  &__password-container {
    display: flex;
    align-items: center;
    gap: 5px;

    .eye-icon {
      font-size: 1.4rem;
      cursor: pointer;
      color: #00000090;
    }
  }

  input {
    width: 100%;
    padding: 0.55em 0;
    font-family: var(--input-font-family);
    font-size: var(--input-font-size);
    border: none;
    outline: none;

    &:disabled {
      background: #ebebeb;
    }

    &::placeholder {
      color: var(--color-input-placeholder);
    }
  }
}
