.insurance-details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .card {
    flex: 1 1 48%;
    background-color: var(--color-light);
    border-radius: 12px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
    padding: 20px;

    &__header {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 16px;

      // img {
      //   width: 18px;
      // }
    }

    &__title {
      font-size: 16px;
      font-weight: 600;
      color: var(--color-text);
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;

      label {
        font-size: 12px;
        color: #999;
      }

      p {
        font-size: 14px;
        font-weight: 500;
        margin: 4px 0 12px;
      }
    }

    &__actions {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      margin-top: 30px;

      .card__action {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 1rem;
        font-weight: 400;
        color: var(--color-link);
        text-decoration: underline;
        cursor: pointer;

        img {
          width: 18px;
        }
      }
    }
  }
}
