.period {
  max-width: 700px;

  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
  }

  &__checkbox-group {
    display: flex;
    align-items: center;
    min-width: 180px;
    gap: 8px;

    input[type='checkbox'] {
      width: 16px;
      height: 16px;
      accent-color: var(--color-primary);
      cursor: pointer;
    }

    label {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }

  &__inputs {
    display: flex;
    gap: 15px;
    flex: 1;
  }

  .custom-dropdown,
  .custom-input {
    min-width: 160px;
    flex: 1;
  }
}

.delivery-method {
  max-width: 30%;
}

.delivery-frequency {
  &__check-box-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.preview {
  max-width: 700px;

  &__title {
    margin-bottom: 20px;
  }

  &__row {
    display: flex;
    margin-bottom: 12px;
  }

  &__label {
    flex: 0 0 200px;
    font-weight: 500;
  }

  &__value {
    flex: 1;
  }
}
