.upload-data-file-container{
    display: flex;
    flex-direction: column;
    gap: 10px;

    
    &__upload-card{
        width: 100%;
        height:150px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #B6BAC1;
    }


    &__button-bg-container{
        display: flex;
        align-items: center;
        gap:10px;
    }
}