.textarea-container {
  label {
    font-family: var(--input-font-family);
    font-size: var(--input-font-size);
  }

  label span {
    color: red;
  }

  textarea {
    resize: none;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    font-family: var(--font-primary);
    font-size: .8rem;
    border: 1px solid #000;
    border-radius: 10px;
    border: var(--input-border);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #00000050;
      font-size: .8rem;
    }
  }

  .input-error {
    color: red;
    font-size: 0.75rem;
    min-height: 18px;
  }
}